.container-main {
	/* transform: rotate(45deg); */
}

.board { 
	display: grid;
	grid-template-columns: 12% repeat(9, 8.44%) 12%;
	grid-template-rows: 12% repeat(9, 8.44%) 12%;
	margin: 20px;
	width: 96vh;
	height: 95vh;
	background: #BFDBAE;
	border: solid;
}

/* BOARD CENTER */
.center {
	display: grid;
	background:#BFDBAE;
	grid-row:2/11;
	grid-column: 2/11;
	grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.chance-deck {
	transform: rotate(320deg);
	border: solid;
	background:burlywood;
	grid-row: 3/6;
	grid-column: 3/8;
}

.community-deck {
	transform: rotate(320deg);
	border: solid;
	background:burlywood;
	grid-row: 14/17;
    grid-column: 12/17;
}

/* TILES */

/* COLOURS */
.brown {
	background-color: SaddleBrown;
}

.light-blue {
	background-color:SkyBlue;
}
.purple {
	background-color:DarkOrchid;
}

.orange {
	background-color: Orange;
}

.red {
	background-color: Red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: Green;
}

.dark-blue {
	background-color: Blue;
}



/* PROPERTY */
.property{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%; 
	justify-content:space-between;
}
.property-color-bar {
	height: 20%;
	border-bottom: solid;
}

.property-name {
    font-size: 10px;
    text-align: center;
}

.property-cost {
	font-size: 15x;
    text-align: center;
}

/* GO */
.go-tile {
	position: relative;
}

.go-tile .arrow {
    position: absolute;
    left: 2vw;
    top: 6vh;
	font-size: 6vh;
	transform: scale(1.7,1); 
	color: black;
}

.go-tile .go-subtext{
	font-size: 1.5vh;
	transform: rotate(320deg);
	width: 8vh;
    text-align: center;
	margin-top: 1vh;
}

.go-tile .go-text{
	font-size: 5.5vh;
	font-weight: bold;
	transform: rotate(320deg);
	text-align: center;
	margin-left: 4vh;
    margin-top: -2vh;
}

/* BOTTOM ROW */
/* PROPERTY */
.property{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%; 
	justify-content:space-between;
}
.property-color-bar {
	height: 20%;
	border-bottom: solid;
}

.property-name {
    font-size: 10px;
    text-align: center;
}

.property-cost {
	font-size: 15x;
    text-align: center;
}
.bottom-tile {
	background-color: #BFDBAE;;
	border-top: solid;
	border-left: solid;
}

.bottom-row-1 {
	grid-column: 11;
	grid-row:11;
}

.bottom-row-2 {
	grid-column: 10;
	grid-row:11;
}

.bottom-row-3 {
	grid-column: 9;
	grid-row:11;

}

.bottom-row-4 {
	grid-column: 8;
	grid-row:11;

}

.bottom-row-5 {
	grid-column: 7;
	grid-row:11;

}

.bottom-row-6 {
	grid-column: 6;
	grid-row:11;

}

.bottom-row-7 {
	grid-column: 5;
	grid-row:11;

}

.bottom-row-8 {
	grid-column: 4;
	grid-row:11;

}

.bottom-row-9 {
	grid-column: 3;
	grid-row:11;

}

.bottom-row-10 {
	grid-column: 2;
	grid-row:11;
	border-left: none;

}


/* LEFT ROW */
.left-tile {
	border-top: solid;
	border-right: solid;
}

.left-row {
	border-right: solid;
}

.left-row-1 {
	grid-column: 1;
	grid-row:11;
}

.left-row-2 {
	grid-column: 1;
	grid-row:10;
}

.left-row-3 {
	grid-column: 1;
	grid-row:9;

}

.left-row-4 {
	grid-column: 1;
	grid-row:8;

}

.left-row-5 {
	grid-column: 1;
	grid-row:7;

}

.left-row-6 {
	grid-column: 1;
	grid-row:6;

}

.left-row-7 {
	grid-column: 1;
	grid-row:5;

}

.left-row-8 {
	grid-column: 1;
	grid-row:4;

}

.left-row-9 {
	grid-column: 1;
	grid-row:3;

}

.left-row-10 {
	grid-column: 1;
	grid-row:2;
	border-top: none;

}


/* TOP ROW */
.top-tile {
	background-color: red;
	border-right: solid;
	border-bottom: solid;
}

.top-row {
	border-bottom: solid;

}

.top-row-1 {
	grid-column: 1;
	grid-row:1;
}

.top-row-2 {
	grid-column: 2;
	grid-row:1;
}

.top-row-3 {
	grid-column: 3;
	grid-row:1;

}

.top-row-4 {
	grid-column: 4;
	grid-row:1;

}

.top-row-5 {
	grid-column: 5;
	grid-row:1;

}

.top-row-6 {
	grid-column: 6;
	grid-row:1;

}

.top-row-7 {
	grid-column: 7;
	grid-row:1;

}

.top-row-8 {
	grid-column: 8;
	grid-row:1;

}

.top-row-9 {
	grid-column: 9;
	grid-row:1;

}

.top-row-10 {
	grid-column: 10;
	grid-row:1;
	border-right: none;

}


/* RIGHT ROW */
.right-tile {
	background-color: green;
	border-bottom: solid;
	border-left: solid;
}

.right-row-1 {
	grid-column: 11;
	grid-row:1;
}

.right-row-2 {
	grid-column: 11;
	grid-row:2;
}

.right-row-3 {
	grid-column: 11;
	grid-row:3;

}

.right-row-4 {
	grid-column: 11;
	grid-row:4;

}

.right-row-5 {
	grid-column: 11;
	grid-row:5;

}

.right-row-6 {
	grid-column: 11;
	grid-row:6;

}

.right-row-7 {
	grid-column: 11;
	grid-row:7;

}

.right-row-8 {
	grid-column: 11;
	grid-row:8;

}

.right-row-9 {
	grid-column: 11;
	grid-row:9;

}

.right-row-10 {
	grid-column: 11;
	grid-row:10;
	border-bottom: none;

}


